<div class="card border border-primary rounded-0">
	<div class="row card-body">
		<div class="col-md-12 text-center">

			<div class="form-group">
				<label class="text-center text-primary font-weight-bolder">Grupos</label>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="card  border border-primary rounded-0">
				<div class="row card-body">
					<div class="col-sm-12">
						<h6 class="text-center">Natacion 4-5pm</h6> 
						<small>Niños 4-6 años</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
