<div style="text-align:right">
  <button type="submit" *ngIf="nuevoGrupo==true" class="btn btn-success" (click)="addGroups()">Nuevo Grupo</button>
</div>
<div cdkDropListGroup>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <div>
        <div class="animated fadeIn">

          <div class="card ">
            <section>
               <div class="card-header bg-info">
                  <h6>Equipos</h6>
                </div>           
            </section>
            <div class="card-body">
              <div cdkDropList [cdkDropListData]="teamsCompetition" class="classification-list"
                cdkDropListSortingDisabled (cdkDropListDropped)="drop($event)">
                <div class="classification-box" *ngFor="let team of teamsCompetition"  cdkDrag>
                  <img src="../../../../../../../assets/img/{{team.Logo}}.png" width="60" > {{team.NombreEquipo}}  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6">
      <div *ngFor="let group of groupCompetition">
        <div class="animated fadeIn">

          <div class="card ">
            <div class="card-header bg-info">
              <div class="row">
                <h6 class="col-11 col-md-11 col-lg-11">Grupo {{group.id}}</h6>
                <div style="text-align:right">
                  <span (click) = "deleteGroup()"><i class="fa fa-trash-o mousehand" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>
            <div class="card-body">

              <div cdkDropList [cdkDropListData]="group.teams" class="classification-list"
                (cdkDropListDropped)="drop($event)">
                <div class="classification-box" *ngFor="let team of group.teams" cdkDrag>
                  <img src="../../../../../../../assets/img/{{team.Logo}}.png" width="60"> {{team.NombreEquipo}}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
