<div class="animated fadeIn h100">
  <div class="card">
    <div class="card-body">
      <div class="row">

        <div class="col-3">

          <h3 class=" font-weight-bold text-center text-primary">
            BIENVENIDO A TU OFICINA VIRTUAL</h3>
          <small class="text-left">Aquí te ofrecemos la facilidad de acceder
            a diferentes serviciós para la administración y control de los
            servicios realizados con la caja de compensación familiar del
            cauca.</small>
        </div>


        <div class="col-9">
          <div class="row">

            <div class="col-4">
              <a [routerLink]="['/autoGestionInstructores/inscritos']" class="linkTarjeta">
                <div class="card  border border-primary rounded-0 linkTarjeta">
                  <div class="row card-body">
                    <div class="h1 w-100 text-center fa fa-users" aria-hidden="true"></div>
                    <p class="h7 w-100 font-weight-bold text-center text-primary text-uppercase">
                      VER INSCRIPCIONES ESFODER</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-4">
              <a [routerLink]="['/autoGestionInstructores/agenda']" class="linkTarjeta">
                <div class="card  border border-primary rounded-0 linkTarjeta">
                  <div class="row card-body">
                    <div class="h1 text-center w-100 fa fa-calendar" aria-hidden="true"></div>
                    <p class="h7 w-100 font-weight-bold text-center text-primary text-uppercase">
                      ADMINISTRAR AGENDA</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-4">
              <a [routerLink]="['/autoGestionInstructores/programador']" class="linkTarjeta">
                <div class="card  border border-primary rounded-0 linkTarjeta">
                  <div class="row card-body">
                    <div class="h1 text-center w-100 fa fa-calendar-check-o" aria-hidden="true"></div>
                    <p class="h7 w-100 font-weight-bold text-center text-primary text-uppercase">
                      VER PROGRAMADOR</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-4">
              <a [routerLink]="['/autoGestionInstructores/gestionarGrupos']" class="linkTarjeta">
                <div class="card  border border-primary rounded-0 linkTarjeta">
                  <div class="row card-body">
                    <div class="text-center w-100 material-icons h1"> insert_drive_file</div>
                    <p class="h7 w-100 font-weight-bold text-center text-primary text-uppercase">
                      GESTIONAR GRUPOS ESFODER</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-4">
              <a [routerLink]="['/autoGestionInstructores/historial']" class="linkTarjeta">
                <div class="card  border border-primary rounded-0 linkTarjeta">
                  <div class="row card-body">
                    <div class="material-icons h1 text-center w-100">account_circle</div>
                    <p class="h7 w-100 font-weight-bold text-center text-primary text-uppercase">
                      HISTORIAL DEL DEPORTISTA</p>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
