<div class="animated fadeIn">
    <form [formGroup]="form" (ngSubmit)="guardar()">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <strong>Servicio</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            
                                <!--INICIO DEL FORMULARIO-->
                                
                                    <div class="formGroup col-12 col-md-12 col-lg-4">
                                        <i class="fa fa-exclamation-circle uncheck"
                                            *ngIf="(f.codigo.errors?.maxlength || f.codigo.errors?.minlength) && f.codigo.touched">
                                            Mínimo caracteres 4 máximo 16
                                        </i>
                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="f.codigo.errors?.required && f.codigo.touched">
                                            Este campo no puede estar vacio
                                        </i>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-barcode"></i>
                                                    <h6 class="colorAsterisco">*</h6><small>&nbsp;Código</small>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="* Código" formControlName="codigo">
                                        </div>
                                    </div>

                                    <div class="formGroup col-12 col-md-12 col-lg-4">
                                        <i class="fa fa-exclamation-circle uncheck"
                                            *ngIf="(f.descripcion.errors?.maxlength || f.descripcion.errors?.minlength) && f.descripcion.touched">
                                            Mínimo caracteres 4 máximo 256
                                        </i>
                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="f.descripcion.errors?.required && f.descripcion.touched">
                                            Este campo no puede estar vacio
                                        </i>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-font"></i>
                                                    <h6 class="colorAsterisco">*</h6><small>&nbsp;Descripción</small>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="* Descripción"
                                                formControlName="descripcion">
                                        </div>
                                    </div>
                                  

                                    <div class="formGroup col-12 col-md-12 col-lg-4">                                        
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="fa fa-crosshairs"></i><small>&nbsp;Tipo servicio</small></span>
                                            </div>
                                        <select class="form-control placeholder" formControlName="tipo_servicio" id="tipo_servicio"
                                            class="form-control border-info"
                                            [ngClass]="{ 'is-invalid': submitted && f.tipo_servicio.errors }">
                                            <option value="">.::Seleccione::.</option>
                                            <option *ngFor="let tipo_servicio of tipos_servicio" value={{tipo_servicio.id}}>
                                                {{tipo_servicio.descripcion}}
                                            </option>
                                        </select>
                                        </div>                                        
                                    </div>

                                    <div class="formGroup col-12 col-md-12 col-lg-4">                                        
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="fa fa-desktop"></i><small>&nbsp;Programa</small></span>
                                            </div>
                                        <select class="form-control placeholder" formControlName="programa" id="programa"
                                            class="form-control border-info"
                                            [ngClass]="{ 'is-invalid': submitted && f.programa.errors }">
                                            <option value="">.::Seleccione::.</option>
                                            <option *ngFor="let programa of programas" value={{programa.id}}>
                                                {{programa.descripcion}}
                                            </option>
                                        </select>
                                        </div>                                        
                                    </div>

                                    <div class="formGroup col-12 col-md-12 col-lg-4">                                        
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="fa fa-cubes"></i><small>&nbsp;Grupo</small></span>
                                            </div>
                                        <select class="form-control placeholder" formControlName="grupo" id="grupo"
                                            class="form-control border-info"
                                            [ngClass]="{ 'is-invalid': submitted && f.tipo_servicio.errors }">
                                            <option value="">.::Seleccione::.</option>
                                            <option *ngFor="let grupo of grupos" value={{grupo.id}}>
                                                {{grupo.descripcion}}
                                            </option>
                                        </select>
                                        </div>                                        
                                    </div>
                                   

                                   <div class="formGroup col-12 col-md-12 col-lg-4">                                        
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="fa fa-money"></i><small>&nbsp;Cuenta contable</small></span>
                                            </div>
                                        <select class="form-control placeholder" formControlName="cuenta_contable" id="cuenta_contable"
                                            class="form-control border-info"
                                            [ngClass]="{ 'is-invalid': submitted && f.cuenta_contable.errors }">
                                            <option value="">.::Seleccione::.</option>
                                            <option *ngFor="let cuenta_contable of cuentas_contables" value={{cuenta_contable.id}}>
                                                {{cuenta_contable.descripcion}}
                                            </option>
                                        </select>
                                        </div>                                        
                                    </div>

                                    <div class="formGroup col-12 col-md-12 col-lg-4">                                        
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="fa fa-percent"></i><small>&nbsp;Iva</small></span>
                                            </div>
                                        <select class="form-control placeholder" formControlName="iva" id="iva"
                                            class="form-control border-info"
                                            [ngClass]="{ 'is-invalid': submitted && f.iva.errors }">
                                            <option value="">.::Seleccione::.</option>
                                            <option *ngFor="let iva of ivas" value={{iva.id}}>
                                                {{iva.valor}}%
                                            </option>
                                        </select>
                                        </div>                                        
                                    </div>

                                    <div class="formGroup col-12 col-md-12 col-lg-4">                                        
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="fa fa-sliders"></i><small>&nbsp;Estado</small></span>
                                            </div>
                                        <select class="form-control placeholder" formControlName="estado" id="estado"
                                            class="form-control border-info"
                                            [ngClass]="{ 'is-invalid': submitted && f.iva.errors }">
                                            <option value="">.::Seleccione::.</option>
                                            <option *ngFor="let estado of estados_servicio" value={{estado.id}}>
                                                {{estado.descripcion}}
                                            </option>
                                        </select>
                                        </div>                                        
                                    </div>

                                    <div class="formGroup col-12 col-md-12 col-lg-4">
                                        <i class="fa fa-exclamation-circle uncheck"
                                            *ngIf="(f.valor_costo.errors?.maxlength || f.valor_costo.errors?.minlength) && f.valor_costo.touched">
                                            Mínimo caracteres 4 máximo 16
                                        </i>
                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="f.valor_costo.errors?.required && f.valor_costo.touched">
                                            Este campo no puede estar vacio
                                        </i>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-dollar"></i>
                                                    <h6 class="colorAsterisco">*</h6><small>&nbsp;Valor costo</small>
                                                </span>
                                            </div>
                                            <input  mask="separator" thousandSeparator="."  prefix="$"  type="text" class="form-control" placeholder="* Valor costo" formControlName="valor_costo">
                                        </div>
                                    </div>



                                    <div class="form-group col-sm-1">     
                                        <div class="text-center">
                                            <label class="switch switch-label switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" formControlName="requiere_definir_personas">                                                
                                                <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>                                               
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3"> 
                                        Requiere definir personas
                                    </div>


                                    <div class="formGroup col-12 col-md-12 col-lg-4">
                                        <i class="fa fa-exclamation-circle uncheck"
                                            *ngIf="(f.numero_personas.errors?.maxlength || f.numero_personas.errors?.minlength) && f.numero_personas.touched">
                                            Mínimo caracteres 1 máximo 4
                                        </i>
                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="f.numero_personas.errors?.required && f.numero_personas.touched">
                                            Este campo no puede estar vacio
                                        </i>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-users"></i>
                                                    <h6 class="colorAsterisco">*</h6><small>&nbsp;Número personas aplica</small>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="* Número personas aplica" formControlName="numero_personas">
                                        </div>
                                    </div>


                                    <div class="form-group col-sm-1">     
                                        <div class="text-center">
                                            <label class="switch switch-label switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" formControlName="requiere_definir_horas">                                                
                                                <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>                                               
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3"> 
                                        Requiere definir horas
                                    </div>

                                    <div class="formGroup col-12 col-md-12 col-lg-4">
                                        <i class="fa fa-exclamation-circle uncheck"
                                            *ngIf="(f.numero_horas.errors?.maxlength || f.numero_horas.errors?.minlength) && f.numero_horas.touched">
                                            Mínimo caracteres 1 máximo 4
                                        </i>
                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="f.numero_horas.errors?.required && f.numero_horas.touched">
                                            Este campo no puede estar vacio
                                        </i>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-tachometer"></i>
                                                    <h6 class="colorAsterisco">*</h6><small>&nbsp;Número horas</small>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="* Número horas" formControlName="numero_horas">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-1">     
                                        <div class="text-center">
                                            <label class="switch switch-label switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" formControlName="aplica_restriccion_meta">                                                
                                                <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>                                               
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3"> 
                                        Aplica restricción meta
                                    </div>


                                    <div class="formGroup col-12 col-md-12 col-lg-4">
                                        <i class="fa fa-exclamation-circle uncheck"
                                            *ngIf="(f.meta.errors?.maxlength || f.meta.errors?.minlength) && f.meta.touched">
                                            Mínimo caracteres 1 máximo 4
                                        </i>
                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="f.meta.errors?.required && f.meta.touched">
                                            Este campo no puede estar vacio
                                        </i>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-area-chart"></i>
                                                    <h6 class="colorAsterisco">*</h6><small>&nbsp;Meta</small>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="* Meta" formControlName="meta">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-1">     
                                        <div class="text-center">
                                            <label class="switch switch-label switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" formControlName="control_usos">                                                
                                                <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>                                               
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3"> 
                                        Control usos
                                    </div>

                                    <div class="form-group col-sm-1">     
                                        <div class="text-center">
                                            <label class="switch switch-label switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" formControlName="aplica_escenario">                                                
                                                <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>                                               
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3"> 
                                        Aplica reserva escenario
                                    </div>

                                    <div class="form-group col-sm-1">     
                                        <div class="text-center">
                                            <label class="switch switch-label switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" formControlName="aplica_paquete">                                                
                                                <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>                                               
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3"> 
                                        Aplica paquete de servicios
                                    </div>


                                  <!-- {{form.get('aplica_escenario').value}}
                                  <pre>
                                        {{form.value|json}}
                                  </pre>                                  
                                  <pre>
                                    {{form.valid}}
                                  </pre>-->

                                  <style>
                                
</style>
                                

                                    <div class="col-sm-12" *ngIf="form.get('aplica_escenario').value">
                                        <div class="card">
                                            <div class="card-header bg-primary">
                                                Escenario
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group col-sm-4">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                              <span class="input-group-text"><i class="fa fa-search"></i><small>&nbsp;Código escenario</small></span>
                                                            </div>
                                                            
                                                        <ng-select
                                                            [items]="escenariosCod$" 
                                                            [closeOnSelect]="true"
                                                            id="escenario"                                                                                
                                                            placeholder="Seleccione codigo escenario"   
                                                            (search)="buscarEscenariosCodigo($event)"
                                                            [(ngModel)]="codigoE"
                                                            [searchable]="true"
                                                            [addTag]="false"
                                                            bindLabel="label"       
                                                            class="form-control border-info"                                                                                       
                                                            (change)="seleccionarEscenario($event)"
                                                            [ngModelOptions]="{standalone: true}"                                                           
                                                        ></ng-select>
                                                       
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-sm-4">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                              <span class="input-group-text"><i class="fa fa-search"></i><small>&nbsp;Descripción</small></span>
                                                            </div>
                                                        <ng-select                                                        
                                                            [items]="escenarios" 
                                                            [closeOnSelect]="true"
                                                            [(ngModel)]="descripcionE"
                                                            id="descripcionE"                                                             
                                                            class="form-control border-info" 
                                                            placeholder="Descripción"
                                                            (change)="seleccionarEscenario($event)"
                                                            (search)="buscarEscenarios($event)"    
                                                            [ngModelOptions]="{standalone: true}"                                                      
                                                        ></ng-select>
                                                        </div>
                                                    </div>  
                                                
                                                    
                                                    
                                                    <div class="form-group col-sm-4">                         
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="fa fa-bank"></i>
                                                                    <small>&nbsp;Infraestructura</small>
                                                                </span>
                                                            </div>
                                                        <input type="text" class="form-control border-info" id="infraestructuraE"
                                                            placeholder="Infraestructura" [(ngModel)]="infraestructuraE" [ngModelOptions]="{standalone: true}" />
                                                        </div>
                                                        </div>
                                                    <div class="form-group col-sm-4">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="fa fa-cube"></i>
                                                                    <small>&nbsp;Unidad</small>
                                                                </span>
                                                            </div>
                                                        <input type="text" class="form-control border-info" id="unidadE" 
                                                        placeholder="Unidad"  [(ngModel)]="unidadE" [ngModelOptions]="{standalone: true}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                                      
                           <!--Controlar el paquete con check y pk del servicio-->
                            <div class="col-sm-12" *ngIf="pk>0 && form.value.aplica_paquete">
                                <div class="card">
                                    <div class="card-header bg-primary">
                                        Paquetes de servicio
                                    </div>
                                    <div class="card-body">
                                        <div class="row">  
                                                    <div class="form-group col-sm-4">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                              <span class="input-group-text"><i class="fa fa-search"></i><small>&nbsp;Código servicio</small></span>
                                                            </div>                                       
                                                        <ng-select                                                        
                                                            [items]="servicios" 
                                                            [closeOnSelect]="true"                                                           
                                                            id="servicioS"                                                             
                                                            class="border-info" 
                                                            placeholder="Servicio"
                                                            (change)="seleccionarServicio($event)"
                                                            (search)="buscarServicios($event)"     
                                                            class="form-control border-info"                                                                                                        
                                                        ></ng-select>
                                                        </div>
                                                    </div>      
                                                    <div class="form-group col-sm-4">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="fa fa-clone"></i>
                                                                    <small>&nbsp;Descripción</small>
                                                                </span>
                                                            </div>
                                                        <input type="text" class="form-control border-info" id="descripcionS" 
                                                        placeholder="Descripción" 
                                                        [(ngModel)]="descripcionS" [ngModelOptions]="{standalone: true}" />
                                                            </div>
                                                    </div>
                                                    <div class="form-group col-sm-2">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="fa fa-crosshairs"></i>
                                                                    <small>&nbsp;Tipo servicio</small>
                                                                </span>
                                                            </div>
                                                        <input type="text" class="form-control border-info" id="tipo_servicioS" placeholder="Tipo servicio" 
                                                        [(ngModel)]="tipo_servicioS" [ngModelOptions]="{standalone: true}" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-2">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="fa fa-dollar"></i>
                                                                    <small>&nbsp;Valor costo</small>
                                                                </span>
                                                            </div>
                                                        <input mask="separator" thousandSeparator="."  prefix="$" type="text" class="form-control border-info" id="valor_costoS" placeholder="Valor costo" 
                                                        [(ngModel)]="valor_costoS" [ngModelOptions]="{standalone: true}" />
                                                        </div>
                                                    </div>                                                

                                            <div class="form-group col-sm-12">
                                           
                                                <div class="row justify-content-md-center form-group">
                                                    <button type="button" class="btn btn-lg btn-primary"
                                                        (click)="agregarServicioAgregado()"><i class="fa fa-arrow-down"></i>
                                                        Agregar</button>&nbsp;
                                                    <button class="btn btn-lg btn-light" (click)="clearFormUnidad()"><i
                                                            class="fa fa-eraser"></i> Limpiar</button>
                                                </div>
                                                <div class="row">
                                                    <table class="table table-sm">
                                                        <thead>
                                                            <tr>
                                                                <th>Código</th>
                                                                <th>Descripción</th>
                                                                <th>Tipo servicio</th>
                                                                <th>Valor Costo</th>
                                                                <th>Acciones</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of servicios_agregados ">
                                                                <td>{{item.idServicioAgregado.codigo}}</td>
                                                                <td>{{item.idServicioAgregado.descripcion}}</td>                                                                
                                                                <td>{{item.idServicioAgregado.tipoServicio.descripcion}}</td>
                                                                <td>{{item.costo | currency}}</td>
                                                                <td>
                                                                    <button type="button" (click)=editar(item.id)
                                                                        class="btn btn-sm btn-primary">Editar</button>&nbsp;
                                                                    <button type="button" (click)=eliminar(item.id)
                                                                        class="btn btn-sm btn-danger">Eliminar</button>&nbsp;
                                                                </td>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row text-right">
                            <div class="form-group col-sm-12">
                                <button type="submit" *ngIf="pk===0" class="btn btn-lg btn-light"
                                    (click)="clearForm()"><i class="fa fa-eraser"></i> Limpiar</button>
                                <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-save"></i>
                                    Guardar</button>
                                <button type="button" class="btn btn-lg btn-secondary" (click)="cancelar()"><i
                                        class="fa fa-ban"></i> Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </form>
</div>
<notifier-container></notifier-container>
<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h4 class="modal-title">Escenarios</h4>
          <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table style="width: 100%"
            class="table table-striped row-border hover">
            <thead>
                <tr>
                    <th>Sec</th>
                    <th>Código</th>
                    <th>Descripcion</th>
                    <th>Infraestructura</th>
                    <th>Acciones</th>
                </tr>
                <tr>
                    <th>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input size="1" class="form-control" type="text" placeholder="Sec"
                                [(ngModel)]="id" />
                        </div>
                    </th>
                    <th>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input size="1" class="form-control" type="text" placeholder="Código"
                                [(ngModel)]="cod" />
                        </div>
                    </th>

                    <th>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input class="form-control" type="text" placeholder="Descripción"
                                [(ngModel)]="des" />
                        </div>
                    </th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody *ngIf="lista?.length != 0">
                <tr *ngFor="let item of listaEsc ">
                    <td>{{item.id}}</td>
                    <td>{{item.codigo}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{{item.unidad.infraestructura.descripcion}}</td>
                    <td>
                        <button (click)="editar(item.id)" type="button" class="btn btn-primary"><i
                                class="fa fa-pencil"></i>&nbsp;Editar</button>
                        <button (click)="eliminar(item.id)" type="button" class="btn btn-danger"><i
                                class="fa fa-trash"></i>&nbsp;Eliminar</button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="lista?.length == 0">
                <tr>
                    <td colspan="5" class="no-data-available">No data!</td>
                </tr>
            </tbody>
        </table>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Aceptar</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->