<input type="text" class="form-control" name="filterPost" placeholder="Buscar" [(ngModel)]="filterPost">
<table class="table table-bordered ">
  <thead class="table-primary">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Logo</th>
      <th scope="col">Nombre del equipo</th>
      <th scope="col">Delegado</th>
      <th scope="col">Identificacion</th>
      <th scope="col">Telefono</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let team of teams | filter: filterPost">   
    <td>{{team.numero}}</td>
    <td><img style=" width: 50px; height: 50px;" src="../../../../../../../assets/img/{{team.Logo}}.png" alt=""></td>
    <td>{{team.NombreEquipo}}</td>
    <td>{{team.Delegado}}</td>
    <td>{{team.identificacion}}</td>
    <td>{{team.telefono}}</td>
    <td>{{team.estado}}</td>    
  </tr>
    
  </tbody>
</table>

<button class="btn  btn-primary" (click)="sendEventAddTeam()">crear equipo</button>
