<div class="animated fadeIn">
    <form [formGroup]="form" (ngSubmit)="guardar()">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <strong>Apertura</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <!--INICIO DEL FORMULARIO-->

                            <div class="formGroup col-12 col-md-12 col-lg-4">
                                <i class="fa fa-exclamation-circle uncheck"
                                    *ngIf="(f.codigo.errors?.maxlength || f.codigo.errors?.minlength) && f.codigo.touched">
                                    Mínimo caracteres 4 máximo 16
                                </i>
                                <i class="fa fa-exclamation-circle uncheck"
                                    *ngIf="f.codigo.errors?.required && f.codigo.touched">
                                    Este campo no puede estar vacio
                                </i>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-barcode"></i>
                                            <h6 class="colorAsterisco">*</h6><small>&nbsp;Código</small>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="* Código"
                                        formControlName="codigo">
                                </div>
                            </div>

                            <div class="formGroup col-12 col-md-12 col-lg-8">
                                <i class="fa fa-exclamation-circle uncheck"
                                    *ngIf="(f.descripcion.errors?.maxlength || f.descripcion.errors?.minlength) && f.descripcion.touched">
                                    Mínimo caracteres 4 máximo 256
                                </i>
                                <i class="fa fa-exclamation-circle uncheck"
                                    *ngIf="f.descripcion.errors?.required && f.descripcion.touched">
                                    Este campo no puede estar vacio
                                </i>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-font"></i>
                                            <h6 class="colorAsterisco">*</h6><small>&nbsp;Descripción</small>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="* Descripción"
                                        formControlName="descripcion">
                                </div>
                            </div>



                            <div class="form-group col-sm-4">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-search"></i><small>&nbsp;Código
                                                servicio</small></span>
                                    </div>
                                    <ng-select [items]="servicios" [closeOnSelect]="true" id="servicioS"
                                        class="border-info" placeholder="Servicio"
                                        (change)="seleccionarServicio($event)" (search)="buscarServicios($event)"
                                        class="form-control border-info" [(ngModel)]="codigoS"
                                        [ngModelOptions]="{standalone: true}"></ng-select>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-clone"></i>
                                            <small>&nbsp;Descripción</small>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control border-info" id="descripcionS"
                                        placeholder="Descripción" [(ngModel)]="descripcionS"
                                        [ngModelOptions]="{standalone: true}" />
                                </div>
                            </div>

                            <div class="form-group col-sm-4">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-bank"></i>
                                            <small>&nbsp;Infraestructura</small>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control border-info" id="infraestructuraE"
                                        placeholder="Infraestructura" 
                                        formControlName="infraestructura" />
                                </div>
                            </div>


                            <div class="form-group col-sm-4">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-building-o"></i>
                                            <small>&nbsp;Ciudad</small>
                                        </span>
                                    </div>
                                    <input appUpper formControlName="ciudad" type="text"
                                        class="form-control border-info" id="ciudad" placeholder="Ciudad"
                                        autocomplete="nop">
                                </div>
                            </div>

                            <div class="form-group col-sm-4">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-users"></i>
                                            <small>&nbsp;Grupo</small>
                                        </span>
                                    </div>
                                    <input appUpper formControlName="grupo" type="text" class="form-control border-info"
                                        id="grupo" placeholder="Grupo" autocomplete="nop">
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user-circle"></i>
                                            <small>&nbsp;Subgrupo</small>
                                        </span>
                                    </div>
                                    <select class="form-control placeholder" formControlName="subgrupo" id="subgrupo"
                                        class="form-control border-info"
                                        [ngClass]="{ 'is-invalid': submitted && f.subgrupo.errors }">
                                        <option value="">.::Seleccione::.</option>
                                        <option *ngFor="let subgrupo of subgrupos" value={{subgrupo.id}}>
                                            {{subgrupo.descripcion}}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-4">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-cog"></i>
                                            <small>&nbsp;Centro costo</small>
                                        </span>
                                    </div>
                                    <select class="form-control placeholder" formControlName="centro_costo"
                                        id="centro_costo" class="form-control border-info"
                                        [ngClass]="{ 'is-invalid': submitted && f.centro_costo.errors }">
                                        <option value="">.::Seleccione::.</option>
                                        <option *ngFor="let centro_costo of centros_costo" value={{centro_costo.id}}>
                                            {{centro_costo.descripcion}}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-8">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-street-view"></i><small>&nbsp;Puntos de venta</small></span>
                                    </div>
                                    <ng-select 
                                        [items]="unidades" 
                                        [multiple]="true" 
                                        [closeOnSelect]="false" 
                                        [searchable]="true"
                                        bindLabel="label" 
                                        (remove)='remove($event)'
                                         placeholder="Select people" 
                                         class="form-control border-info"
                                         formControlName="punto_venta">
                                    </ng-select>
                                </div>
                            </div>

                            <!-- {{form.get('aplica_escenario').value}}
                                  <pre>
                                        {{form.value|json}}
                                  </pre>                                  
                                  <pre>
                                    {{form.valid}}
                                  </pre>-->
                        </div>


                        <div class="row text-right">
                            <div class="form-group col-sm-12">
                                <button type="submit" *ngIf="pk===0" class="btn btn-lg btn-light"
                                    (click)="clearForm()"><i class="fa fa-eraser"></i> Limpiar</button>
                                <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-save"></i>
                                    Guardar</button>
                                <button type="button" class="btn btn-lg btn-secondary" (click)="cancelar()"><i
                                        class="fa fa-ban"></i> Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </form>
</div>
<notifier-container></notifier-container>