<ng-template #modalAddPlayer let-modal class="modal-sm">
  <div class="modal-header bg-primary">
  </div>
  <div class="modal-body ">
    <div class="container-fluid">
      <div class="row">
        <form [formGroup]="fieldsForm" #f="ngForm">

          <h3 class="title text-center"><strong>Agregar Jugador</strong></h3>
          <p class="text-muted text-center">En este formulario podrá agregar los jugadores al equipo. Recuerde los
            campos con * son obligatorios</p>

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <i class="fa fa-exclamation-circle uncheck"
                *ngIf="fieldsForm.controls.idPlayer.errors?.required && fieldsForm.controls.idPlayer.touched">
                Este campo no puede estar vacio
              </i>
              <i class="fa fa-exclamation-circle uncheck"
                *ngIf="fieldsForm.controls.idPlayer.errors?.maxlength || fieldsForm.controls.idPlayer.errors?.pattern">
                Solo permite maximo 12 numeros
              </i>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user-o"></i>
                    <h6 class="colorAsterisco">*</h6><small>&nbsp;Cedula</small>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="* Cedula" formControlName="idPlayer">
              </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
              <i class="fa fa-exclamation-circle uncheck"
              *ngIf="(fieldsForm.controls.namesPlayer.errors?.maxlength || fieldsForm.controls.namesPlayer.errors?.minlength) && fieldsForm.controls.namesPlayer.touched">
              Mínimo caracteres 3 máximo 60
            </i>
            <i class="fa fa-exclamation-circle uncheck"
              *ngIf="fieldsForm.controls.namesPlayer.errors?.required && fieldsForm.controls.namesPlayer.touched">
              Este campo no puede estar vacio
            </i>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-id-card-o"></i>
                    <h6 class="colorAsterisco">*</h6><small>&nbsp;Nombres</small>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="* Nombres" formControlName="namesPlayer">
              </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
              <i class="fa fa-exclamation-circle uncheck"
              *ngIf="(fieldsForm.controls.surnamesPlayer.errors?.maxlength || fieldsForm.controls.surnamesPlayer.errors?.minlength) && fieldsForm.controls.surnamesPlayer.touched">
              Mínimo caracteres 3 máximo 60
            </i>
            <i class="fa fa-exclamation-circle uncheck"
              *ngIf="fieldsForm.controls.surnamesPlayer.errors?.required && fieldsForm.controls.surnamesPlayer.touched">
              Este campo no puede estar vacio
            </i>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-id-card-o"></i>
                    <h6 class="colorAsterisco">*</h6><small>&nbsp;Apellidos</small>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="* Apellidos" formControlName="surnamesPlayer">
              </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
              <i class="fa fa-exclamation-circle uncheck"
              *ngIf="(fieldsForm.controls.phonePlayer.errors?.maxlength || fieldsForm.controls.phonePlayer.errors?.minlength) && fieldsForm.controls.phonePlayer.touched">
              Mínimo caracteres 6 máximo 20
            </i>
            <i class="fa fa-exclamation-circle uncheck"
              *ngIf="fieldsForm.controls.phonePlayer.errors?.required && fieldsForm.controls.phonePlayer.touched">
              Este campo no puede estar vacio
            </i>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-phone"></i>
                    <h6 class="colorAsterisco">*</h6><small>&nbsp;Telefono</small>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="* Telefono" formControlName="phonePlayer">
              </div>
            </div>
          </div>


          <div class="rightDiv">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close()"><i
              class="fa fa-plus-square"></i>
            Cancelar</button>
          <button type="button" class="btn bg-primary"   [disabled]="fieldsForm.invalid">Agregar Jugador</button>
          </div>

        </form>
      </div>
    </div>
  </div>


</ng-template>
