<div class="animated fadeIn">    
        <div class="row text-right">
                <div class="form-group col-sm-12">
                    <a [routerLink]="['/tarifas/servicio']" class="btn btn-lg btn-success" ><i class="fa fa-plus"></i> Nuevo</a>                    
                </div>
            </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Servicios agregados
                </div>
                <div class="card-body">
                    <table style="width: 100%" datatable  [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="table table-striped row-border hover">
                        <thead>
                            <tr>
                                <th>Sec</th>
                                <th>Código</th>
                                <th>Descripcion</th>
                                <th>Programa</th>
                                <th>Cuenta contable</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                        </div>
                                        <input size="1" class="form-control" type="text" placeholder="Sec" [(ngModel)]="id" />
                                    </div>
                                </th>
                                <th>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                        </div>
                                        <input size="1" class="form-control" type="text" placeholder="Código" [(ngModel)]="cod" />
                                    </div>
                                </th>
                            
                                <th>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                        </div>
                                        <input class="form-control" type="text" placeholder="Descripción" [(ngModel)]="des" />
                                    </div>
                                </th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="servicios?.length != 0">
                            <tr *ngFor="let servicio of servicios ">
                                <td>{{servicio.id}}</td>
                                <td>{{servicio.codigo}}</td>
                                <td>{{servicio.descripcion}}</td>
                                <td>{{servicio.idPrograma.descripcion}}</td>
                                <td>{{servicio.idCuentaContable.descripcion}}</td>
                                <td>
                                    <span *ngIf="servicio.idEstadoServicio.id===1" class="badge badge-success">Activo</span>
                                    <span *ngIf="servicio.idEstadoServicio.id===2" class="badge badge-danger">Inactivo</span>
                                </td>
                                <td>
                                        <button (click)="editar(servicio.id)" type="button" class="btn btn-primary"><i class="fa fa-pencil"></i>&nbsp;Editar</button>
                                        <button (click)="eliminarObjeto(servicio.id)" type="button" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp;Eliminar</button>
                                </td>
                            </tr>                            
                        </tbody>
                        <tbody *ngIf="servicios?.length == 0">
                            <tr>
                              <td colspan="3" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<notifier-container></notifier-container>