<div class="animated fadeIn">
    <form [formGroup]="form" (ngSubmit)="guardar()" (keydown.enter)="$event.preventDefault()">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <strong>Ruta</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!--INICIO DEL FORMULARIO-->
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="perfil">Perfil<span class="text-danger">*</span></label>
                                        <select  class="form-control placeholder" formControlName="perfil" id="perfil" class="form-control border-info UP" [ngClass]="{ 'is-invalid': submitted && f.perfil.errors }" >
                                            <option value="">.::Seleccione::.</option>
                                            <option *ngFor="let perfil of perfiles" value={{perfil.id}}>
                                                {{perfil.descripcion}}
                                            </option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Campo requerido
                                        </div>
                                    </div> 
                                    <div class="form-group col-sm-6">
                                        <label for="recurso">Recurso<span class="text-danger">*</span></label>
                                        <select  class="form-control placeholder" formControlName="recurso" id="recurso" class="form-control border-info UP" [ngClass]="{ 'is-invalid': submitted && f.recurso.errors }" >
                                            <option value="">.::Seleccione::.</option>
                                            <option *ngFor="let recurso of recursos" value={{recurso.id}}>
                                                {{recurso.descripcion}}
                                            </option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Campo requerido
                                        </div>
                                    </div>                                               
                                </div>
                               
                            </div>
                            <!--FIN DEL FORMULARIO-->
                        </div>


                        <div class="row text-right">
                            <div class="form-group col-sm-12">
                                <button type="submit" *ngIf="pk===0" class="btn btn-lg btn-light"
                                    (click)="clearForm()"><i class="fa fa-eraser"></i> Limpiar</button>
                                <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-save"></i>
                                    Guardar</button>
                                <button type="button" class="btn btn-lg btn-secondary" (click)="cancelar()"><i
                                        class="fa fa-ban"></i> Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </form>
</div>
<notifier-container></notifier-container>