<form [formGroup]="form" class="col-12 col-md-12 col-lg-4">
  <div class="row">
    <div class="formGroup col-6 col-md-6 col-lg-6">
      <i class="fa fa-exclamation-circle uncheck"
        *ngIf="(form.get('fInicio').errors?.required) && form.get('fInicio').touched">
        Verifique Conexión
      </i>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-calendar"></i>
            <h6 class="colorAsterisco">*</h6><small>&nbsp;Fecha</small>
          </span>
        </div>
        <input type="date" class="form-control" placeholder="* Fecha Inicio" formControlName="fInicio">
      </div>
    </div>

    <div class="formGroup col-6 col-md-6 col-lg-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-trophy"></i><small>&nbsp;Categoría</small></span>
        </div>
        <select type="text" class="form-control">
          <option value="0" disabled selected>Seleccionar...</option>
        </select>
      </div>
    </div>

   <!--  <div class="formGroup col-12 col-md-12 col-lg-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-id-card-o"></i><small>&nbsp;Categoria</small></span>
        </div>
        <select type="text" class="form-control" >
          <option value="0" disabled selected>Seleccionar...</option>
          </select>
        <select type="text" class="form-control" >
          <option value="0" disabled selected>Categoria</option>
        </select>
      </div>
    </div> -->
  </div>

</form>