<form [formGroup]="form" class="col-12 col-md-12 col-lg-4">
  <div class="row">

    <div class="formGroup col-12 col-md-12 col-lg-4">
      <i class="fa fa-exclamation-circle uncheck"
        *ngIf="(form.get('fInicio').errors?.required) && form.get('fInicio').touched">
        Verifique conexión
      </i>
      <div class="input-group mb-3" >
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-calendar"></i>
            <h6 class="colorAsterisco">*</h6><small>&nbsp;Fecha Inicio</small>
          </span>           
         </div>
         <input type="text" class="form-control" placeholder="* " formControlName="fInicio" value="5/09/1993" />
      </div>
    </div>
    <div class="formGroup col-12 col-md-12 col-lg-4">
      <i class="fa fa-exclamation-circle uncheck"
        *ngIf="(form.get('tipoCompeticion').errors?.required) && form.get('tipoCompeticion').touched">
        Verifique conexión
      </i>
      <div class="input-group mb-3" style="position: relative; left: 90%;">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-trophy"></i>
            <h6 class="colorAsterisco">*</h6><small>&nbsp;Tipo Competicion</small>
          </span>
        </div>
        <select class="form-control" placeholder="* " formControlName="tipoCompeticion">
          <option value="Infantil" selected="true">Infantil</option>
        </select>
      </div>
    </div>
  </div>
</form>