<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 ">
      <div class="card ">
        <div class="card-header bg-primary">
          <h5><i class="fa fa-align-justify"></i> {{titlePanel}}</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="fieldsForm" (ngSubmit)="onSubmit()" #f="ngForm">
            <h3 class="title text-center"><strong>{{titleForm}}</strong></h3>
            <p class="text-muted text-center">{{subtitleForm}}</p>

            <div class="row">

              <div class="formGroup col-12 col-md-6 col-lg-4">
                <i class="fa fa-exclamation-circle uncheck"
                  *ngIf="(fieldsForm.controls.codigoNivel.errors?.maxlength || fieldsForm.controls.codigoNivel.errors?.minlength) && fieldsForm.controls.codigoNivel.touched">
                  Mínimo caracteres 3 máximo 50
                </i>
                <i class="fa fa-exclamation-circle uncheck"
                  *ngIf="fieldsForm.controls.codigoNivel.errors?.required && fieldsForm.controls.codigoNivel.touched">
                  Este campo no puede estar vacio
                </i>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-key"></i>
                      <h6 class="colorAsterisco">*</h6><small>&nbsp;Código</small>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Código" formControlName="codigoNivel">
                </div>
              </div>

              <div class="formGroup col-12 col-md-6 col-lg-4">
                <i class="fa fa-exclamation-circle uncheck"
                  *ngIf="(fieldsForm.controls.descripcionNivel.errors?.maxlength || fieldsForm.controls.descripcionNivel.errors?.minlength) && fieldsForm.controls.descripcionNivel.touched">
                  Mínimo caracteres 3 máximo 50
                </i>
                <i class="fa fa-exclamation-circle uncheck"
                  *ngIf="fieldsForm.controls.descripcionNivel.errors?.required && fieldsForm.controls.descripcionNivel.touched">
                  Este campo no puede estar vacio
                </i>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-align-justify"></i>
                      <h6 class="colorAsterisco">*</h6><small>&nbsp;Descripción</small>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Descripción" formControlName="descripcionNivel">
                </div>
              </div>

              <div class="formGroup col-12 col-md-6 col-lg-4">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card-o"></i>
                      <h6 class="colorAsterisco">*</h6><small>&nbsp;Programa</small>
                    </span>
                  </div>
                  <select type="text" class="form-control" #programa>
                    <option [ngValue]="programa" *ngFor="let programa of programas">{{programa}}</option>
                  </select>
                </div>
              </div>

              <div class="formGroup col-12 col-md-6 col-lg-4">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card-o"></i><small>&nbsp;Categoría</small></span>
                  </div>
                  <select type="text" class="form-control" #categoria>
                    <option [ngValue]="categoria" *ngFor="let categoria of categorias">{{categoria}}</option>
                  </select>
                </div>
              </div>

            </div>





            <div class="row">
              <div class="formGroup col-12 col-md-12 col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <span class="text-primary font-weight-bold">
                      Servicio relacionado
                    </span>
                  </div>
                  <div class="card-body">

                    <div class="row">

                      <div class="formGroup col-12 col-md-6 col-lg-4">
                        <i class="fa fa-exclamation-circle uncheck"
                          *ngIf="(fieldsForm.controls.codigoServicio.errors?.maxlength || fieldsForm.controls.codigoServicio.errors?.minlength) && fieldsForm.controls.codigoServicio.touched">
                          Mínimo caracteres 3 máximo 50 </i> <i class="fa fa-exclamation-circle uncheck"
                          *ngIf="fieldsForm.controls.codigoServicio.errors?.required && fieldsForm.controls.codigoServicio.touched">
                          Este campo no puede estar vacio </i>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-bookmark"></i>
                              <h6 class="colorAsterisco">*</h6> <small>&nbsp;Servicio</small>
                            </span>
                          </div>
                          <input type="text" disabled class="form-control" placeholder="Código"
                            formControlName="codigoServicio">

                          <a style="cursor: pointer;" class="iconColorPrincipal fa fa-search fa-2x ml-1"
                            (click)="mostrarVentanaModalServicios()"></a>
                        </div>
                      </div>
                      <div class="formGroup col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-columns"></i>
                              <small>&nbsp;Servicio</small>
                            </span>
                          </div>
                          <input type="text" disabled class="form-control">
                        </div>
                      </div>
                      <div class="formGroup col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-compress"></i>
                              <small>&nbsp;Tipo de servicio</small>
                            </span>
                          </div>
                          <input type="text" disabled class="form-control">
                        </div>
                      </div>
                      <div class="formGroup col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-list-ol"></i>
                              <h6 class="colorAsterisco">*</h6> <small>&nbsp;Servicio programa</small>
                            </span>
                          </div>
                          <select type="text" disabled class="form-control" #servicioPrograma>
                            <option [ngValue]="servicioPrograma" *ngFor="let servicioPrograma of servicioPrograma">
                              {{servicioPrograma}}</option>
                          </select>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>






            <app-gestion-grupo></app-gestion-grupo>

            <div class="row text-right">
              <div class="form-group col-sm-12">
                <button type="submit" *ngIf="pk===0" class="btn btn-lg btn-light" (click)="clearForm()"><i
                    class="fa fa-eraser"></i> Limpiar</button>
                <button type="submit" class="btn btn-lg btn-success" [disabled]="fieldsForm.invalid"><i
                    class="fa fa-save"></i>
                  {{buttonAction}}</button>
                <button type="button" class="btn btn-lg btn-secondary" [routerLink]="['/esfoder/niveles']"><i
                    class="fa fa-ban"></i> Cancelar</button>
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>
