<table class="table table-bordered" >
  <thead>
    <tr class="table-primary">
      <th scope="col" colspan="100%" style="text-align: center;">VALOR INSCRIPCIÓN</th>
    </tr>
    <tr class="table-primary">
      <th scope="col">Categoria</th>
      <th scope="col">Cantidad afiliados</th>
      <th scope="col">Valor unitario</th>
      <th scope="col">Valor total</th>
      <th scope="col">Subsidio a la demanda</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let con of contadores">
      <td>{{con.categoria}}</td>
      <td>{{con.contador}}</td>
      <td>{{con.valor}}</td>
      <td>{{con.contador*con.valor}}</td>
      <td>{{(valorParticular-con.valor)*con.contador}}</td>
    </tr>
    <tr>
      <td colspan="3" style="text-align: center;"><strong>Total</strong></td>
      <td>{{valorTotal}}</td>
      <td>{{subsidioTotal}}</td>
    </tr>
  </tbody>
</table>
