<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header bg-primary">
                    <i class="fa fa-align-justify"></i> Usuarios
                </div>
                <div class="card-body">
                    <div class="row text-right">
                        <div class="form-group col-sm-12">
                            <a [routerLink]="['/seguridad/usuario']" class="btn btn-lg btn-success"><i
                                    class="fa fa-plus"></i>
                                Nuevo</a>
                        </div>
                    </div>
                    <table style="width: 100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                        class="table table-striped row-border hover">
                        <thead>
                            <tr>
                                <th>Identificación</th>
                                <th>Login</th>         
                                <th>Nombres</th>         
                                <th>Apellidos</th>                               
                                <th>Acciones</th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                        </div>
                                        <input size="1" class="form-control" type="text" placeholder="Identificación"
                                            [(ngModel)]="ide" />
                                    </div>
                                </th>

                                <th>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                        </div>
                                        <input size="1" class="form-control" type="text" placeholder="Login"
                                            [(ngModel)]="log" />
                                    </div>
                                </th>

                                <th>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                        </div>
                                        <input size="3" class="form-control" type="text" placeholder="Nombres"
                                            [(ngModel)]="nom" />
                                    </div>
                                </th>

                                <th>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                        </div>
                                        <input size="3" class="form-control" type="text" placeholder="Apellidos"
                                            [(ngModel)]="ape" />
                                    </div>
                                </th>

                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="lista?.length != 0">
                            <tr *ngFor="let item of lista ">
                                <td>{{item.identificacion}}</td>
                                <td>{{item.usuario}}</td>     
                                <td>{{item.nombres}}</td>
                                <td>{{item.apellidos}}</td>                               
                                <td>
                                    <button (click)="editar(item.id)" type="button" class="btn btn-primary"><i
                                            class="fa fa-pencil"></i></button>
                                    <!--<button (click)="eliminar(item.id)" type="button" class="btn btn-danger"><i
                                            class="fa fa-trash"></i></button>-->
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="lista?.length == 0">
                            <tr>
                                <td colspan="5" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<notifier-container></notifier-container>