<div class="col-12 col-md-12 col-lg-12 col-sm-12">
  <!-- Nav tabs -->
  <tabset>
    <tab>
      <ng-template tabHeading><i class="fa fa-trophy"></i> Competición &nbsp;<span class="badge badge-success">New</span></ng-template>
      
      <app-edit-competition ></app-edit-competition>
    </tab>
    <tab>
      <ng-template *ngIf="tam!=0" tabHeading><i class="fa fa-users"></i> Equipos &nbsp;<span class="badge badge-pill badge-danger">{{tam}}</span></ng-template>
      <ng-template *ngIf="tam==0" tabHeading><i class="fa fa-users"></i> Equipos &nbsp;<span class="badge badge-pill badge-danger"></span></ng-template>
      <app-list-teams ></app-list-teams>
      </tab>
    <tab>
      <ng-template tabHeading><i class="fa fa-cubes "></i> Clasificación</ng-template>
      <app-clasification></app-clasification>
    </tab>
    <tab>
      <ng-template tabHeading><i class="fa fa-calendar"></i> Programación</ng-template>
     <app-programming ></app-programming>
    </tab>
    <tab>
      <ng-template tabHeading><i class="fa-list-alt "></i> Posiciones</ng-template>
      4. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </tab>
    <tab>
      <ng-template tabHeading><i class="fa fa-exclamation-triangle"></i> Sanciones</ng-template>
      4. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </tab>
  </tabset>
</div><!--/.col-->
