<table class="table table-bordered ">
    <thead class="table-primary">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Cedula</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Celular</th>
        <th scope="col">Categoria</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let team of teams"> -->
      <tr *ngFor="let player of players; index as i">
        <td>{{i+1}}</td>
        <td *ngIf="player && player.cedula; else cedula">{{player.cedula}}</td>
        <ng-template #cedula><td></td></ng-template>
        <td *ngIf="player && player.afiliado&&player.afiliado.persona&&player.afiliado.persona.primerNombre; else primerNombre">{{player.afiliado.persona.primerNombre}}</td>
        <ng-template #primerNombre><td></td></ng-template>
        <td *ngIf="player && player.afiliado&&player.afiliado.persona&&player.afiliado.persona.primerApellido; else primerApellido">{{player.afiliado.persona.primerApellido}}</td>
        <ng-template #primerApellido><td></td></ng-template>
        <td *ngIf="player&& player.telefono; else telefono">{{player.telefono}}</td>
        <ng-template #telefono><td>{{player.telefono}}</td></ng-template>
        <td *ngIf="player&& player.categoria; else categoria">{{player.categoria}}</td>
        <ng-template #categoria><td>{{player.categoria}}</td></ng-template>
        <td *ngIf="player&& player.valor; else valor">{{player.valor}}</td>
        <ng-template #valor><td>{{player.valor}}</td></ng-template>
      </tr>     
    </tbody>
  </table>