<div id="sample">
  <!-- The DIV for the Diagram needs an explicit size or else we won't see anything.
       Also add a border to help see the edges. -->
  <div id="myDiagramDiv" style="border: solid 1px black; background: #4D4D4D; width:700px; height:600px"></div>
  <p>
    Click on the empty score boxes next to names to fill in scores for each player.
    The scores must be non-negative numbers with at most 3 digits. Scores are validated using a <a>TextEditingTool.textValidation</a> function.
    When two players in a "game" have a score, one of them will automatically advance to the next round of the bracket.
  </p>
</div>