  <div class="modal-header bg-primary">
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">.col-sm-2</div>
        <div class="col-sm-10">.col-sm-10</div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn btn-outline-dark" (click)="close()"><i class="fa fa-ban"></i>
      Cancelar</a>
    <button type="button" class="btn bg-primary" (click)="save()"><i class="fa fa-save"></i>
      Aceptar</button>
  </div>
