<div class="row">
  <div class="col-12 col-md-12 col-lg-12 .col-sm-12 col-xl-3">
    <nav class="navbar navbar-light bg-light">
        <h5 class="col-12 col-md-12 col-lg-12"  ><span class="badge badge-info"></span><strong >Listado Compentencias</strong></h5>
      <div >
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <input class="form-control col-8 col-md-9 col-lg-9" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-block btn-ghost-primary active col-3 col-md-3 col-lg-3" type="submit" ><i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="nav flex-column nav-pills col-12 col-md-12 col-lg-12"  role="tablist" aria-orientation="vertical"> 
        
          <button (click)=asignarIdSeleccionado(competencia.id) class="nav-link "  [className]="'nav-link active '" *ngFor="let competencia of competencias | paginate: { itemsPerPage: 15, currentPage: pageActual }"> 
            <img src="../../../../../assets/img/competicion/{{competencia.subPrograma.descripcion|lowercase}}.png" id="imagen" width="24" height="24" class="d-inline-block align-top" alt="">
            <strong>{{competencia.nombre}}</strong> </button>
        

        
        <pagination-controls previousLabel="Anterior"
        nextLabel="Siguiente" (pageChange)="pageActual = $event"></pagination-controls>
          
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
          aria-controls="v-pills-profile" aria-selected="false">Profile</a>
      </div>
    </nav>

  </div>

  <div class="col-12 col-md-12 col-lg-9 .col-sm-12 col-xl-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <app-tab-competition></app-tab-competition>
      </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
    </div>
  </div>
</div>
